{% extends "page.html" %}

{% block content %}
<div style="padding-left: 20px; color: white; background-color: var(--my-background-color)">
    <h1 class="title">
        {{ section.title }}
    </h1>
</div>

{% for page in section.pages %}
<div>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    <h2>
        <a href="{{ page.permalink|safe }}">{{ page.title }}</a>
        <div style="font-size: 18px; float: right;">
            {{ page.date }}
        </div>
    </h2>
</div>

{{ page.summary|safe }}
{% endfor %}


{% endblock content %}
