<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>ada blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
     a {
         text-decoration: none;
         color: #0e5dde;
     }
    </style>
    <body style="background-color: #eee">
        <div style="width: 700px; margin:auto" class="w3-panel">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
