{% extends "juice/templates/index.html" %}

{% block title %}ada{% endblock title %}

{% block head %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />
<style>
    .slick-prev:before {
        color: grey;
    }

    .slick-next:before {
        color: grey;
    }
</style>
{% endblock head %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        ada is for scientists
    </h1>
    <h3 class="title-text">
        Ada provides simple, secure and fast access to Digital Research Infrastructure in the UK for data analysis in scientific research.
    </h3>
    <div>
        <div style="margin-top: 50px;">
            <button class="lighten text box-shadow"
                style="font-size: 24px; border: none; padding: 10px 20px; color: white; background-color: var(--my-background-color)">
                Try ada
            </button>
            &nbsp;
            &nbsp;
            <button class="lighten text box-shadow"
                style="font-size: 24px; border: none; padding: 10px 20px; color: white; background-color: var(--my-background-color)">
                Log in
            </button>
        </div>
    </div>
</section>

<div style="width: 50%" class="mycarousel"
     data-slick='{"arrows": false, "dots": true, "autoplay": true
            , "autoplaySpeed": 5000 }'>

    <div><center><img class="hero-image" style="width: 80%;" src="{{ get_url(path="image3.png") }}"></center></div>
    <div><center><img class="hero-image" style="width: 80%;" src="{{ get_url(path="image2.png") }}"></center></div>
    <div><center><img class="hero-image" style="width: 80%;" src="{{ get_url(path="image4.png") }}"></center></div>
    <div><center><img class="hero-image" style="width: 80%;" src="{{ get_url(path="image5.png") }}"></center></div>
</div>

<div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore ada ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block script %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.mycarousel').slick();
    });
</script>

{% endblock script %}
